body{
font-family:"Courier New", Courier, monospace;
font-size:12px;
color:#333333;
}
p{font-size:12px;
color:#333333;
font-family:Arial, Helvetica, sans-serif;
}

h4{font-size:18px;
color:#009900;
font-family:Arial, Helvetica, sans-serif;
}
.mtext{
font-size:12px;
color:#666666;
}
a{color:#333333;
text-decoration:underline;
font-size:12px;
}